body{
background:#103c51;
}
div{
  width:40%;
  min-width:350px;
  background-color:#ffe415;
  border-radius: 19px;
  box-shadow:0 15px 30px rgba(0,0,0, 0.4);    
  margin:100px auto;
  padding:20px;
}
h1{
  font-family:arial;
  font-size:37px;
  color:#171934;
}
p{
  font-family:arial;
  font-size:18px;
  color:#0556e8;  
}

